DATABASE_URL=""
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="" # e.g. http://localhost:3000
EMAIL_VERIFICATION_CALLBACK_URL="" # e.g. http://localhost:3000/api/email-verification
EMAIL_FROM=""

MAILTRAP_USER=""
MAILTRAP_PASSWORD=""